body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.w3-code{
	width:auto;background-color:#fff;
	padding:8px 12px;
	border-left: 4px solid #222;
	word-wrap:break-word;
}
.w3-code2{
	width:auto;background-color:#fff;
	padding:8px 12px;
	border-left: 4px solid #337ab7;
	word-wrap:break-word;
}
img{
    max-height:150px;
    height:100%;
    width:100%;
}

.album {
  min-height: 50rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > a > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

.navbar-brand{
	padding: 0px;
}

.navbar-brand>img {
	height: 100%;
	padding: 15%;
	width: auto;
}

